### Jekyll ###
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata

### Bundler ###
.bundle/
vendor/bundle/

### Python ###
__pycache__/
venv/

### temp directories ###
emw-temp/
temp-docs/

### MacOS ###
.DS_Store

